.food-pyramid {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.layer-1 .increment,
.layer-1 .decrement {
  visibility: hidden;
}
.layer-1:hover .increment,
.layer-1:hover .decrement {
  visibility: visible;
}
.layer-1 {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid red;
}
.layer-2 .increment,
.layer-2 .decrement {
  visibility: hidden;
}
.layer-2:hover .increment,
.layer-2:hover .decrement {
  visibility: visible;
}
.layer-2 {
  width: 220px;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 80px solid gold;
  margin-bottom: 20px;
  margin-top: 20px;
}
.layer-3 .increment,
.layer-3 .decrement {
  visibility: hidden;
}
.layer-3:hover .increment,
.layer-3:hover .decrement {
  visibility: visible;
}
.layer-3 {
  width: 400px;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid yellow;
}
.layer-4 .increment,
.layer-4 .decrement {
  visibility: hidden;
}
.layer-4:hover .increment,
.layer-4:hover .decrement {
  visibility: visible;
}
.layer-4 {
  width: 600px;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid blue;
}
.layer-5 .increment,
.layer-5 .decrement {
  visibility: hidden;
}
.layer-5:hover .increment,
.layer-5:hover .decrement {
  visibility: visible;
}
.layer-5 {
  width: 800px;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid brown;
}
.layer-6 .increment,
.layer-6 .decrement {
  visibility: hidden;
}
.layer-6:hover .increment,
.layer-6:hover .decrement {
  visibility: visible;
}
.layer-6 {
  width: 1000px;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid green;
}
.button-box {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin-top: 30px;
}
.button-box button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: medium;

  border: 1px solid black;
  background-color: gray;
}
.age {
  display: flex;
  margin-bottom: 20px;
}
